.c-r {
    color: #ed1a1a;
}
.c-g {
    color: #36e23c;
}
.c-b {
    color: #3b64e2;
}
.c-o {
    color: #e86909;
}
.c-y {
    color: #ebef07;
}
.c-i {
    color: #c339f9;
}
.c-v {
    color: violet;
}
.bg-r {
    background-color: #ed1a1a;
}
.bg-g {
    background-color: #36e23c;
}
.bg-b {
    background-color: #3b64e2;
}
.bg-o {
    background-color: #e86909;
}
.bg-y {
    background-color: #ebef07;
}
.bg-i {
    background-color: #c339f9;
}
.bg-v {
    background-color: #edafda;
}
